In [1]:
import numpy as np
import pandas as pd
import dask.dataframe as dd

filename = 'data/news_cleaned_2018_02_13.csv.gz'

df = pd.read_csv(filename, nrows=100, compression='gzip')
df.head()

,Unnamed: 0,id,domain,type,url,content,scraped_at,inserted_at,updated_at,title,authors,keywords,meta_keywords,meta_description,tags,summary,source
0,0,2,express.co.uk,rumor,https://www.express.co.uk/news/science/738402/...,"Life is an illusion, at least on a quantum lev...",2018-01-25 16:17:44.789555,2018-02-02 01:19:41.756632,2018-02-02 01:19:41.756664,Is life an ILLUSION? Researchers prove 'realit...,Sean Martin,NaN,[''],THE UNIVERSE ceases to exist when we are not l...,NaN,NaN,NaN
1,1,6,barenakedislam.com,hate,http://barenakedislam.com/category/donald-trum...,"Unfortunately, he hasn’t yet attacked her for ...",2018-01-25 16:17:44.789555,2018-02-02 01:19:41.756632,2018-02-02 01:19:41.756664,Donald Trump,"Linda Rivera, Conrad Calvano, Az Gal, Lincoln ...",NaN,[''],NaN,NaN,NaN,NaN
2,2,7,barenakedislam.com,hate,http://barenakedislam.com/category/donald-trum...,The Los Angeles Police Department has been den...,2018-01-25 16:17:44.789555,2018-02-02 01:19:41.756632,2018-02-02 01:19:41.756664,Donald Trump,"Linda Rivera, Conrad Calvano, Az Gal, Lincoln ...",NaN,[''],NaN,NaN,NaN,NaN
3,3,8,barenakedislam.com,hate,http://barenakedislam.com/2017/12/24/more-winn...,The White House has decided to quietly withdra...,2018-01-25 16:17:44.789555,2018-02-02 01:19:41.756632,2018-02-02 01:19:41.756664,"MORE WINNING! Israeli intelligence source, DEB...","Cleavis Nowell, Cleavisnowell, Clarence J. Fei...",NaN,[''],NaN,NaN,NaN,NaN
4,4,9,barenakedislam.com,hate,http://barenakedislam.com/2017/12/25/oh-trump-...,“The time has come to cut off the tongues of t...,2018-01-25 16:17:44.789555,2018-02-02 01:19:41.756632,2018-02-02 01:19:41.756664,"“Oh, Trump, you coward, you just wait, we will...","F.N. Lehner, Don Spilman, Clarence J. Feinour,...",NaN,[''],NaN,NaN,NaN,NaN

In [2]:
df.iloc[[63]]

,Unnamed: 0,id,domain,type,url,content,scraped_at,inserted_at,updated_at,title,authors,keywords,meta_keywords,meta_description,tags,summary,source
63,63,79,awm.com,unreliable,http://awm.com/heres-the-video-causing-people-...,When the staff at the Australian Reptile Park ...,2018-01-25 16:17:44.789555,2018-02-02 01:19:41.756632,2018-02-02 01:19:41.756664,Here’s The Video Causing People To Gag And Run...,Alexander Smith,NaN,[''],NaN,NaN,NaN,NaN

In [3]:
df['content'][64]

'In the YouTube video below, you’re going to see what can happen when you teach children how to use guns at a young age. Although this little princess is only seven-years-old, she is out hunting deer with a gun that looks to be about twice her size. And now that the video has gone viral because her reaction to killing the animal was utterly priceless, this little girl is the talk of Facebook. And the clip has been gotten more than 2.5 million hits on various video platforms.\n\nThe little girl in the video is Lilly Klapper, and she lives in North Texas. While out hunting for whitetail with her father and brother, Lilly was ready to take her first shot at a living animal. Her family trained her well during the last two years. She has done a lot of target practice and has been mentally preparing for the hunt.\n\nBut nothing could have prepared her for the THRILL of making a direct hit and taking down the deer.\n\nThe girl’s father, Cory Klapper, is a dedicated hunter. And he was the one to get the monumental moment on video.\n\nAlthough the hunt happened back on November 28, Klapper finally got the footage onto Facebook only this Tuesday. And before he knew what was happening, his beloved daughter, Lilly, had become a viral sensation and the talk of the internet.\n\n“We have a passion for the outdoors, and it was primarily intended to be for family and friends,” Klapper told FOX 4. “But now…I hope that it inspires other parents to get their children into the outdoors.”\n\nLilly is manning an AR-style rifle “chambered in 300 blackouts” bullets, her dad said. She is completely focused on killing the whitetail.\n\n“Shoot the big one in the middle if you can,” her dad encourages the young girl. She listens to his advice and aims. Then she prepares to pull the trigger.\n\nIt takes two minutes before the shot presents itself, but when it does, she pulls the trigger, and everyone erupts into celebration.\n\n“You got it, baby! You got it!” her father cheers.\n\nThe excitement takes a while to make sense to her. But when she realizes that she’s killed her first deer, her mouth hangs open and turns into a big smile.\n\nPeople around the country shared their support to the hunting family.\n\n“This is amazing!! That’s a dad teaching some life skills right there!” wrote one Facebook user. “SUCH A GREAT DAD!!!! I have never hunted and hated seeing the animals in Africa hunted and all that, but this is so awesome what you did with your daughter,” another added. “You can see how proud she is of herself!!! She is so focused and patient!! GO DAD!!!!”\n\nOne admirer added, “We have become a nation of powder puffs. Thank God for Dads like you. Am teaching my grandson to shoot. Kids need this, as it teaches responsible behavior.”\n\nAnd as a great hunter once said:\n\n“A family that hunts together stays together.”\n\nWhat’s your reaction to the footage?'

In [4]:
columns = df.columns
columns

Index(['Unnamed: 0', 'id', 'domain', 'type', 'url', 'content', 'scraped_at',
       'inserted_at', 'updated_at', 'title', 'authors', 'keywords',
       'meta_keywords', 'meta_description', 'tags', 'summary', 'source'],
      dtype='object')

In [5]:
df = df[['id', 'type', 'content', 'title']]
df.head()

,id,type,content,title
0,2,rumor,"Life is an illusion, at least on a quantum lev...",Is life an ILLUSION? Researchers prove 'realit...
1,6,hate,"Unfortunately, he hasn’t yet attacked her for ...",Donald Trump
2,7,hate,The Los Angeles Police Department has been den...,Donald Trump
3,8,hate,The White House has decided to quietly withdra...,"MORE WINNING! Israeli intelligence source, DEB..."
4,9,hate,“The time has come to cut off the tongues of t...,"“Oh, Trump, you coward, you just wait, we will..."

In [6]:
df = df.replace('\n', ' ', regex=True)

In [7]:
df.to_csv('test_out.csv')

In [8]:
dataset = dd.read_csv('test_out.csv')

In [9]:
# https://stackoverflow.com/questions/15063936/csv-error-field-larger-than-field-limit-131072

import sys
import csv
maxInt = sys.maxsize
decrement = True

while decrement:
    # decrease the maxInt value by factor 10 
    # as long as the OverflowError occurs.
    decrement = False
    try:
        csv.field_size_limit(maxInt)
    except OverflowError:
        maxInt = int(maxInt/10)
        decrement = True

In [10]:
import re

left_space_chars = {'(', '['}
right_space_chars = {'.', ',', '!', '?', ':', ';', ')', ']'}
space_chars = {'-', '+', '=', '&', '#'}

def replace_latex(text):
    stripped = re.sub("\$\$[^$$]+\$\$", ' ', text)  # $$...$$
    stripped = re.sub("\$[^$]+\$", ' ', stripped)  # $...$
    cleared_text = re.sub(r'\\begin\{(.*?)\}(.*?)\\end\{\1\}', ' ', stripped)  # \begin...\end
    return cleared_text

def replace_newlines(text):
    return text.replace('\\n', ' ') \
            .replace('\\r', ' ') \
            .replace('\n', ' ') \
            .replace('\r', ' ') \
            .replace('\\', ' ')

def norm_spaces(text):
    for char in left_space_chars:
        text = text.replace(char, ' ' + char)

    for char in right_space_chars:
        text = text.replace(char, char + ' ')

    for char in space_chars:
        text = text.replace(char, ' ')

    return re.sub('\s+', ' ', text).strip()

In [11]:
from pathlib import Path

out_file = Path('data/cleaned_news_data.csv')

train_file = Path('data/train_data.csv')
test_file = Path('data/test_data.csv')
valid_file = Path('data/valid_data.csv')

columns = ['type', 'content']
chunksize = 10000

In [12]:
from tqdm import tqdm

reader = pd.read_csv(filename, usecols=columns, chunksize=chunksize, 
                     encoding='utf-8', engine='python', compression='gzip')

for i, chunk in enumerate(tqdm(reader)):
    # lower case
    chunk = chunk.apply(lambda x: x.astype(str).str.lower())
    
    # replace newlines
    chunk['content'] = chunk['content'].apply(replace_newlines)
    chunk['type'] = chunk['type'].apply(replace_newlines)
    
    # replace latex
    chunk['content'] = chunk['content'].apply(replace_latex)
    chunk['type'] = chunk['type'].apply(replace_latex)
    
    # replace links
    chunk.replace(r'^https?:\/\/.*[\r\n]*', '',  regex=True, inplace=True)
    
    # norm spaces
    chunk['content'] = chunk['content'].apply(norm_spaces)
    chunk['type'] = chunk['type'].apply(norm_spaces)
    
    # norm quotes 
    chunk.replace('\'\'', '\'', regex=True, inplace=True)
    chunk.replace('""', '"', regex=True, inplace=True)
    
    chunk.dropna(inplace=True)
    
    if 'none' in chunk.type.values:
        chunk = chunk[~chunk.type.str.contains('none')]
    
    if '2018-02-10 13:43:39.521661' in chunk.type.values:
        chunk = chunk[~chunk.type.str.contains('2018-02-10 13:43:39.521661')]
        
    # rename columns
    chunk.rename(columns={'type': 'category'}, inplace=True)
    
    # reorder columns
    chunk = chunk[['content', 'category']]

    if not out_file.exists():
        chunk.to_csv(out_file, index=False)
    else:
        chunk.to_csv(out_file, index=False, mode='a', header=False)

853it [1:02:43,  6.38s/it]